<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{title}}</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link"
      [routerLink]="['/profiles']" routerLinkActive="router-link-active" >Profiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
      [routerLink]="['/posts']" routerLinkActive="router-link-active">Posts</a>
    </li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<footer class="m-5">
  <div class="text-center">
    <span>Created by <a target="blank" href="https://www.github.com/Godwin9911"><i class="fa fa-github"></i> @Godwin9911</a></span><br>
    <a target="blank" href="https://www.twitter.com/GodwinAgedah"><i class="fa fa-twitter"></i> @GodwinAgedah</a>
    <br> &copy;2019
  </div>
</footer>
